{% extends template.self %}

{% block head %}
  {{ super() }}

  <!-- PATCH: relative path for CSS ~ path of content file ( für jede Stufe des Pfades: 1x "../" ) -->
  <link rel="stylesheet" href="{{ "../".repeat(file.path.split("/").length - 1) }}assets/styles/pupdoku.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
{% endblock %}

{% block page %}
  {{ super() }}
  <!-- global FOOTER:
  <blockquote>
    <p>
        Written in 2006-2022 by M.D., alias kuli
    </p>
  </blockquote>
  -->
{% endblock %}