/* PATCH honkit */
.markdown-section {
  line-height: 1.3;
}

.markdown-section pre>code {
  color: rgb(107, 142, 35);
}
.markdown-section pre {
  margin-bottom: 10px !important;
  padding: .4em .8em !important;
}
/* .markdown-section pre>code.lang-js {} */

/* PATCH hints */
.hints-container p {
  margin-top: 0;
  margin-bottom: 0;
}
.alert-link {
  background: #c5c6d0;
  border-color: #adacc9;
  color: #4d4c5c;
}

/* PATCH codetabs */
/* [Languages] Quelle: https://github.com/highlightjs/highlight.js/blob/main/SUPPORTED_LANGUAGES.md*/
code.lang-puppet {
  line-height: 80% !important;
  font-size: 80% !important;
}
/* code.lang-basic {
  color: turquoise;
}
code.lang-puppet {
  color: pink;
}
code.lang-txt {
  color: yellow;
} */

/* PATCH extern links */
/* Quelle: https://stackoverflow.com/questions/14675913/changing-image-size-in-markdown */
img[alt=PupDokuImage] {
  width: 50%;
}

/* Quelle: https://stackoverflow.com/questions/5379752/css-style-external-links */
a[href]:where(
  [href^="http://"],
  [href^="https://"]
):after {
  content: ' ↗️';
}
/* a[href^="https"] {} */
